{% extends 'base.html.twig' %}



{% block body %}

    <div class="container my-5"> 
        <h1 style="color: #028391">Espace menbre privé...</h1>
        <a href="{{ path('app_logout') }}" style="color: #028391">Deconnexion...</a>
        </br>
        <a href="{{ path('app_account_modify-pwd') }}" style="color: #028391">Modifier mon mot de passe...</a>
    </div>

{% endblock %}
