{% extends "base.html.twig" %}


{% block body %}

    <div class="container my-5">
        <h1 class="Hun">Inscription...</h1>

        {{ form(registerForm) }}

        </br>

        <h2>Si vous avez déja un compte</h2> <a href="{{ path('app_login') }}"> connectez-vous... </a>


    </div>

{% endblock %}


