{% extends "base.html.twig" %}


{% block body %}

    <div class="container my-5">
        <h1 style="color: #028391">Mot de passe oublié...</h1>

        {{ form(passwordForm) }}

        </br>

        <h2 style="color: #028391">Si vous avez déja un compte</h2> <a href="{{ path('app_login') }}" style="color: #028391"> connectez-vous... </a>


    </div>

{% endblock %}
