{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5"> 
        <h1 style="color: #028391">Nouveau mot de passe...</h1>     

        <div class="row">
            {{ form($form) }}
        </div>
        
    </div>

{% endblock %}