{% extends 'base.html.twig' %}
{% block body %}


<div class="container my-5"> 

     <h1 style="color: #028391">Ma commande...</h1>

    Choix de mon adresse de livraison</br>
       {{ form(deliveryForm) }}

    choi du transporteur
</div>

{% endblock %}


