{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1 style="color: #028391">Page introuvable...</h1>
        <strong>Cette page est introuvable<a href="{{ path('app_home') }}">Retour a l'accueil...</a></strong>
    </div>

{% endblock %}
