{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5 text-center">
        <img src="/assets/img/succes.png" alt="check" />
        <h1 style="color: #028391">Merci pour votre commande</h1>

         <a href="" class="btn mt-4 " 
         style="background: #A10035; color: #FBA834">Consulter ma commande</a>

          
    </div>

{% endblock %}
